<div class="container">
  <div class="main-signup">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="topic"><h2>Sign up</h2></div>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control",
                              placeholder: " Enter Email" %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control",
                                 placeholder: "Enter Password" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control",
                                 placeholder: "Password Confirm" %>
          </div>
          <div class="submit">
            <%= f.submit "Sign up", class: "btn btn-primary btn-submit" %>
          </div>
        <% end %>
        <div class="shared_link">
          <%= render "devise/shared/links" %>
        </div>

      </div>
    </div>
  </div>
</div>
