<div class="container">
  <div class="main-login">
    <div class="row">
      <div class="col-md-4 offset-md-4">
        <div class="topic"><h2>Sign in</h2></div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: "form-control",
                              placeholder: "Email"
            %>
          </div>

          <div class="form-group">
            <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="form-check">
              <%= f.check_box :remember_me, class: "form-check-input" %>
              <%= f.label :remember_me, class: "form-check-label" %>
            </div>
          <% end %>
          <%= f.submit "Sign in", class: "btn btn-primary" %>
        <% end %>
        <div class="shared_link">
          <%= render "devise/shared/links" %>
        </div>


      </div>

    </div>
  </div>
</div>
