<div class="container-fluid container-show-challenge">

  <!--  <div class="row mr-0">-->
  <!--    <div class="col-md-12">-->
  <!--      <p id="notice"><%#= notice %></p>-->
  <!--    </div>-->
  <!--  </div>-->
  <div class="row mr-0">
    <div class="col-md-12 description-challenge">
      <div class="card description-card-challenge">
        <div class="card-header"><%= @challenge.title %>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0" id="content">
            <p><%= @challenge.content %></p>
            <hr>
            <footer class="question-show-challenge">
              <p><%= @challenge.question %></p>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  <div class="row mr-0 bar-option">
    <div class="col-md-7 codemirror-action">
      <div class="dropdown dropdown-language">
        <button class="btn btn-primary dropdown-toggle btn-choose-lang" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          ruby
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">ruby</button>
          <button class="dropdown-item" type="button">python3</button>
          <button class="dropdown-item" type="button">java</button>
          <button class="dropdown-item" type="button">cplus</button>
          <button class="dropdown-item" type="button">go</button>

        </div>
      </div>
    </div>
    <div class="col-md-5 test-notification">
      <div class="title-noti">
        <strong>        Result:
        </strong>
        <span id="result">
        </span>
      </div>
    </div>
  </div>
  <div class="row mr-0 work-space">
    <div class="col-md-7 codemirror-part">
         <textarea class="codemirror codex" id="code-mirror"
                   data-defaultcode="<%= Defaultcode.find_by(challenge: @challenge, language: Language.find_by(name: 'ruby')).code %>"
                   data-challenge="<%= @challenge.id %>"
         >
         </textarea>
    </div>
    <div class="col-md-5 task-answer-view">
      <div class="testcase-list overflow-auto">

        <div class="accordion" id="accordionExample">
          <% i = 1 %>
          <% @testcases.each do |testcase| %>
            <div class="card-header title-testcase">
              <button class="btn btn-link btn-testcase" id="testcase-<%= i %>" type="button" data-toggle="collapse" data-target="#collapseOne<%= i %>" aria-expanded="true" aria-controls="collapseOne">
                Testcase <%= i %>
              </button>
            </div>
            <div id="collapseOne<%= i %>" class="collapse " data-parent="#accordionExample">
              <table class="table table-sm table-dark">
                <thead>
                <tr>
                  <th scope="col">Input</th>
                  <th scope="col">Output</th>
                  <th scope="col">Your result</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td><%= testcase.input %></td>
                  <td id="output-<%= i %>"><%= testcase.output %></td>
                  <td id="result-<%= i %>"></td>
                </tr>
                </tbody>
              </table>
            </div>
            <% i += 1 %>
          <% end %>

        </div>
      </div>
      <div class="action">
        <div class="btn-group" role="group" aria-label="None">
          <button type="button" class="btn btn-info test-button" id="hint-btn">Get some hints</button>
          <button type="button" class="btn btn-danger test-button" id="test-btn">Run Test</button>
          <button type="button" class="btn btn-success submit-button" id="submit-btn">Submit</button>
        </div>
      </div>
    </div>

  </div>
</div>